body {
  margin: 0;
  background: #3c3c3c;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #763636;
}

p {
  font-size: 32px;
  margin: 0 auto 40px;
}

h1 {
  font-family: sans-serif;
  font-weight: 800;
  letter-spacing: 14px;
  color: #e7dddd;
  margin: 50px auto;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  background: #d2d2d2;
  height: 130px;
  padding: 30px;
  width: 230px;
  margin: 30px;
}

.deleteItem {
  float: right;
  border: none;
  background: #763637;
  color: snow;
  height: 33px;
  font-size: 18px;
  width: 89px;
}

.deleteItem:hover {
  cursor: pointer;
  background: #763637;
  color: #d86869;
}

#submitButton {
  border: none;
  margin: auto;
  margin-bottom: 20px;
  height: 40px;
  font-size: 20px;
  width: 50%;
  background: #b14042;
  color: #ead7d7;
}

#submitButton:hover {
  cursor: pointer;
  background: #dd585b;
}

#submitButton:disabled {
  cursor: auto;
  background: black;
  color: gray;
}

#itemInput {
  font-size: 20px;
  padding-left: 12px;
  width: 50%;
  margin: auto;
  border: none;
  background: #481e1f;
  color: #cecdcd;
  margin-bottom: 20px;
  height: 40px;
}
